<app-menu></app-menu>

<div class="container task-content">
  <div class="row">
    <div cdkDropListGroup>

      <!-- Button trigger modal -->
       <div class="navbar">
        <button type="button" class=" btn btn-warning" data-toggle="modal" data-target="#exampleModal" (click)="AbrirModal()">
          Crear Tarea
        </button>
       </div>

      <!-- tabla 1 -->

      <div class="example-container col-4">
        <h2>Pendientes</h2>
        <div id="Pendientebox" cdkDropList #pendList="cdkDropList"
          [cdkDropListConnectedTo]="[progList, completedList]"
          [cdkDropListData]="listPendiente" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of listPendiente" cdkDrag
            (click)="EditarId(item._id)" data-toggle="modal" data-target="#exampleModal">
            {{item.task}}
          </div>
        </div>
      </div>

      <!-- tabla 2 -->

      <div class="example-container col-4">
        <h2>En Progreso</h2>
        <div id="Progresobox" cdkDropList #progList="cdkDropList"
          [cdkDropListConnectedTo]="[pendList, completedList]"
          [cdkDropListData]="listProgreso" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of listProgreso" cdkDrag
            (click)="EditarId(item._id)" data-toggle="modal" data-target="#exampleModal">
            {{item.task}}
          </div>
        </div>
      </div>

      <!-- tabla 3 -->
      <div class="example-container col-4">
        <h2>Completadas</h2>
        <div id="Completadabox" cdkDropList #completedList="cdkDropList"
          [cdkDropListData]="listCompletada"
          [cdkDropListConnectedTo]="[pendList, progList]" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of listCompletada" cdkDrag
            (click)="EditarId(item._id)" data-toggle="modal" data-target="#exampleModal">
            {{item.task}}
          </div>
        </div>
      </div>
      



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Tarea nueva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group m-3">
        <label for="exampleFormControlSelect1">Categorias</label>
        <select class="form-control" id="cod_cat" [(ngModel)]="cod_cat">
          
            <option value="Pendiente" >Pendiente</option>
            <option value="En Progreso" >En Progreso</option>
            <option value="Completada" >Completada</option>
          
        </select>
      </div>
      
  <div class="form-group m-3">
    <label for="exampleFormControlTextarea1" >Tarea:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="task"></textarea>
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"(click)="Eliminar()" *ngIf="Idseleccionado" >Eliminar</button>
        <button type="button" class="btn btn-warning" *ngIf="Idseleccionado" (click)="Actualizar()">Actualizar</button>
        <button type="button" class="btn btn-warning" (click)="Guardar()" *ngIf="!Idseleccionado">Guardar</button>
        
      </div>
    </div>
  </div>
</div>
      
      
      </div>

  </div>
</div>
