
      <!-- footer  -->


      
      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 my-4 card-img-top">
              <div class="mititulo misenlaces roboto-condensed-valemia-t my-2">Redes sociales</div>
              <div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >Instagram</div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >Facebook</div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >youtube</div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 my-4 card-img-top">
              <div class="mititulo misenlaces roboto-condensed-valemia-t my-2">Horarios</div>
              <div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >Lunes viernes 10am-11pm</div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >Sabados 9am-1am</div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >Domingo 9am-11pm</div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >Festivos 10am-10pm</div>
                <div class="misenlaces roboto-condensed-valemia" href="#" >(Aplica horario para domicilios) </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 my-4 card-img-top">
              <div class="mititulo misenlaces roboto-condensed-valemia-t my-2">Nuestras politicas</div>
              <div>
                <div class="misenlaces roboto-condensed-valemia my-2" href="#" >Aviso de Privacidad y Política de Cookies</div>
                <div class="misenlaces roboto-condensed-valemia my-2" href="#" >Politica de tratamiento de datos</div>
                <div class="misenlaces roboto-condensed-valemia my-2" href="#" >Términos y Condiciones</div>

              </div>
            </div>
          </div>
        </div>
      </div>